html{
background-image: url("/wall4.jpg");
}

body{
  width: 65%;
  margin: 0px auto;
  background-color: black;
color: white;
}

.titulodiv{
  background-image: url("/m3.jpg");
  color: purple;
  background-position: center;
}

.titulo{
  font-size: 50px;
  font-style: italic;
  text-align: center;
}
  .menu{
  background-color: #515A5A   ;
  color: white;
  text-align: center;
  font-weight: bold;
  }
  .menu ul {
    list-style-type: none;
    color: white;
    text-align: center;
  }
  .menu ul li {
    color: white;
    font-weight: bold;
    margin: 20px;
    border: 1px solid #000;
    padding: 10px;
      background-color:  #616161;
  }
  .menu ul li a {
    text-decoration: none;
    color: white;
  }


.divSep{
  background-color: #BFC9CA;
  color: purple;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;

}

.foto{
  float: left;
  margin: 20px;
  height: 400px;
}


.critica{
  text-align: justify;
  font-style: oblique;
  margin: 20px;
}

.resenia{
  text-align: justify;
  font-style: oblique;
  margin: 20px;
}

div table{
  margin: 20px;
  border-spacing: 10px;
}

div table thead{
  text-align: center;
  color:  purple;
  font-weight: bold;
  background-color: #909497;
}

div table tbody{
  text-align: justify;
  color: white;
  border-color: purple;
  margin: 20px;
}
