html{
background-image: url("/wall4.jpg");
}

body{
  width: 65%;
  margin: 0px auto;
  background-color: black;
}

.titulop{
color: white;
text-align: center;
}

.titulodiv{
  background-image: url("/4.jpg");
  color: white;
  background-position: center;
}

.titulo{
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.menu{
background-color: #424242 ;
color: white;
text-align: center;
font-weight: bold;
}
.menu ul {
  list-style-type: none;
  color: white;
}
.menu ul li {
  display: inline-block;
  font-weight: bold;
  margin: 20px;
  border: 1px solid #000;
  padding: 10px;
  background-color:  #616161;
  color: white;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}

.centro{
  color: white;
  text-align: justify;
}
table{
  color: white;
  table-layout: fixed;
  height: 15px;
}

table thead tr th{
  font-size: 20px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  color: #9575CD;
}

table tbody tr th{
text-align: justify;
border: 2px solid;
border-color: #AF7AC5;
font-family: fantasy;
}

.foto{
  float: left;
  margin: 20px;
  height: 400px;
}

.foto2{
  float: left;
  margin: 20px;
  height: 400px;
  width: 350px;
}

.divSep{
  background-color: #424242;
  color: purple;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;

}

.resenia{
  text-align: justify;
  font-style: oblique;
  margin: 20px;
  color: white;
}
